@charset "utf-8";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 300;
	font-family: "맑은고딕";
}
a:link, a:visited{
	text-decoration: none;
	color: black;
}
#wrapper{
	width: 100%;
	height: 100vh;
	position: relative;
	margin: 0 auto;
	padding: 40px;
}
#page1{
	width: 100%;
	height: 100%;
	background: #eee;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.page1fix{
	position: fixed;
	top: 10px;
	left: 10px;
}
.page1fix:hover{
	opacity: 0.8;
}
.page1header{
	width: 400px;
	height: 50px;
	float: right;
}
.page1header a{
	width: 100px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	float: left;
	text-align: center;
}
.page1header a:hover{
	color: #aaa;
}
.page1scroll{
	clear: both;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 90%;
	left: 5%;
	z-index: 1;
}
.page1scroll a{
	display: block;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
}
.page1scroll::before{
	content: "";
	display: block;
	clear: both;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ddd;
	position: absolute;
	top: 70%;
	left: 80%;
	z-index: -5;
}
.page1scroll::after{
	content: "";
	display: block;
	clear: both;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	position: absolute;
	top: -20%;
	left: -10%;
	z-index: -5;
}
.page1title{
	width: 850px;
	height: 400px;
	clear: both;
	position: absolute;
	top: 27%;
	left: 5%;
	transform: rotate(270deg);
}
.page1title span{
	display: block;
	font-size: 120px;
	font-weight: 600;
	line-height: 1;
	opacity: 0.5;
	animation: title 10s linear infinite;
}
/*@keyframes title{
	0%{
		opacity: 0.6;
	}
	25%{
		opacity: 0.7;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}*/
.page1img{
	width: 600px;
	height: auto;
	position: absolute;
	top: 480px;
	left: 1150px;
	transform: translate(-50%,-50%);
	z-index: 1;
}
.page1img::after{
	content: "";
	display: block;
	clear: both;
	width: 600px;
	height: 720px;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 55%;
	transform: translate(-50%,-50%);
	background: #ccc;
}
.page1img img{
	width: 100%;
	height: 100%;
}
.page1copy{
	width: 450px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 80%;
	transform: rotate(90deg);
}
.page1copy span{
	display: block;
	line-height: 2;
	letter-spacing: 2px;
	text-align: center;
	font-size: 12px;
	color: #ccc;
}

#page2{
	clear: both;
	width: 100%;
	height: 850px;
	position: relative;
	background: #eee;
	margin: 50px auto;
}
.page2power{
	width: 1600px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	margin-top: 100px;
	opacity: 0;
}
.page2powerbox{
	width: 400px;
	height: 50px;
	position: relative;
	display: inline-block;
	float: left;
	padding: 0 20px;
}
.html{
	width: 100%;
	height: 30px;
	background: #ddd;
	display: inline-block;
	border-radius: 50px;
	position: relative;
}
.html::before{
	content: "HTML5";
	display: block;
	clear: both;
	color: #f0652a;
	opacity: 0.5;
	position: absolute;
	top: -150%;
	left: 2%;
	font-size: 50px;
	font-weight: 900;
	z-index: 9;
}
.htmlbox{
	width: 0;
	height: 30px;
	display: inline-block;
	background: #f0652a;
	transition: 0.5s;
	opacity: 0.7;
	border-radius: 50px;
	animation: progre 1.5s linear both;
}
.htmlbox span{
	display: inline-block;
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
}
.css{
	width: 100%;
	height: 30px;
	background: #ddd;
	display: inline-block;
	border-radius: 50px;
	position: relative;
}
.css::before{
	content: "CSS3";
	display: block;
	clear: both;
	color: #32a9dc;
	opacity: 0.5;
	position: absolute;
	top: -150%;
	left: 2%;
	font-size: 50px;
	font-weight: 900;
	z-index: 9;
}
.cssbox{
	width: 90%;
	height: 30px;
	display: inline-block;
	background: #32a9dc;
	transition: 0.5s;
	opacity: 0.7;
	border-radius: 50px;
	animation: progre2 1.5s linear both;
}
.cssbox span{
	display: inline-block;
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
}
.js{
	width: 100%;
	height: 30px;
	background: #ddd;
	display: inline-block;
	border-radius: 50px;
	position: relative;
}
.js::before{
	content: "JAVASCRIPT";
	display: block;
	clear: both;
	color: #f0db50;
	opacity: 0.5;
	position: absolute;
	top: -150%;
	left: 2%;
	font-size: 50px;
	font-weight: 900;
	z-index: 9;
}
.jsbox{
	width: 40%;
	height: 30px;
	display: inline-block;
	background: #f0db50;
	transition: 0.5s;
	opacity: 0.7;
	border-radius: 50px;
	animation: progre3 1.5s linear both;
}
.jsbox span{
	display: inline-block;
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
}
.jq{
	width: 100%;
	height: 30px;
	background: #ddd;
	display: inline-block;
	border-radius: 50px;
	position: relative;
}
.jq::before{
	content: "JQUERY";
	display: block;
	clear: both;
	color: #0669ad;
	opacity: 0.5;
	position: absolute;
	top: -150%;
	left: 2%;
	font-size: 50px;
	font-weight: 900;
	z-index: 9;
}
.jqbox{
	width: 50%;
	height: 30px;
	display: inline-block;
	background: #0669ad;
	transition: 0.5s;
	opacity: 0.7;
	border-radius: 50px;
	animation: progre4 1.5s linear both;
}
.jqbox span{
	display: inline-block;
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
}
@keyframes progre{
	0%{
		width: 0%;
	}
	100%{
		width: 85%;
	}
}
@keyframes progre2{
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
}

@keyframes progre3{
	0%{
		width: 0%;
	}
	100%{
		width: 40%;
	}
}

@keyframes progre4{
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}
.page2img{
	width: 400px;
	height: auto;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.page2img img{
	width: 100%;
	height: 100%;
}
.page2img::after{
	content: "";
	display: block;
	clear: both;
	width: 400px;
	height: 500px;
	position: absolute;
	top: -4%;
	left: 5%;
	background: #ddd;
	z-index: -1;
}

