@charset "utf-8";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 300;
	font-family:'Nanum Gothic',Roboto, sans-serif;
}
a:link, a:visited{
	text-decoration: none;
	color: black;
}
#wrapper{
	width: 100%;
	height: 100vh;
	position: relative;
	margin: 0 auto;
	padding: 40px;
}
#page1{
	width: 100%;
	height: 100%;
	background: #eee;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.page1fix{
	position: fixed;
	top: 10px;
	left: 10px;
}
.page1fix:hover{
	opacity: 0.8;
}
.page1header{
	width: 450px;
	height: 60px;
	position: fixed;
	top: 50%;
	left: 83%;
	transform: rotate(90deg);
	z-index: 999;
}
.page1header a{
	width: 110px;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	display: inline-block;
	float: left;
	font-family: 'Roboto',sans-serif;
	text-align: center;
	transition: 0.5s;
	color: #555;
}
.page1header a:hover{
	color: #aaa;
	transform: scale(1.1);
}
.page1scroll{
	clear: both;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 90%;
	left: 5%;
	z-index: 1;
}
.page1scroll a{
	display: block;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
}
.page1scroll::before{
	content: "";
	display: block;
	clear: both;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ddd;
	position: absolute;
	top: 70%;
	left: 80%;
	z-index: -5;
}
.page1scroll::after{
	content: "";
	display: block;
	clear: both;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	position: absolute;
	top: -20%;
	left: -10%;
	z-index: -5;
}
.page1title{
	width: 1000px;
	height: 500px;
	clear: both;
	position: absolute;
	top: 20%;
	left: -3%;
	/*transform: rotate(270deg);*/
}
.page1title #typewrite{
	display: block;
	font-size: 120px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 2px;
	opacity: 0.5;
	position: relative;
	box-sizing: border-box;
	margin: 10%;
	font-family: 'Roboto',sans-serif;
}
.page1title #typewrite::after {
  content: attr(data-content);
  color: #333;
  position: absolute;
  left: 0;
  top:0;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.page1img{
	width: 600px;
	height: auto;
	position: absolute;
	top: 480px;
	left: 1150px;
	transform: translate(-50%,-50%);
	z-index: 1;
}
.page1img::after{
	content: "";
	display: block;
	clear: both;
	width: 600px;
	height: 720px;
	z-index: -1;
	position: absolute;
	top: 45%;
	left: 55%;
	transform: translate(-50%,-50%);
	background: #ccc;
}
.page1img img{
	width: 100%;
	height: 100%;
}
.page1copy{
	width: 450px;
	height: 60px;
	position: absolute;
	top: 2%;
	left: 74%;
}
.page1copy span{
	display: block;
	line-height: 2;
	letter-spacing: 1px;
	text-align: right;
	font-size: 12px;
	color: #333;
}

#page2{
	clear: both;
	width: 100%;
	height: 850px;
	position: relative;
	background: #eee;
	margin: 50px auto;
	overflow: hidden;
}
#page2::before{
	content: "introduce";
	display: block;
	clear: both;
	position: absolute;
	top: 36%;
	left: -20%;
	color: rgba(255,255,255,0.6);
	font-size: 200px;
	transform: rotate(270deg);
	display: inline-block;
}
#page2::after{
	content: "Profile";
	display: block;
	clear: both;
	position: absolute;
	top: 27%;
	left: 65%;
	transform: rotate(90deg);
	font-size: 300px;
	font-weight: 900;
	opacity: 0.5;
	color: #ddd;

}
.page2img{
	width: 500px;
	height: auto;
	position: absolute;
	top: 150px;
	left: 900px;
	z-index: 2;
}
.page2img img{
	width: 100%;
	height: 100%;
}
.page2img::after{
	content: "";
	display: block;
	clear: both;
	width: 500px;
	height: 600px;
	position: absolute;
	top: -7%;
	left: 10%;
	background: #ddd;
	z-index: -1;
}
.page2title{
	width: 800px;
	height: 800px;
	position: relative;
	margin: 50px;
	padding: 0 0 0 70px;
}
.page2title::before{
	content: "";
	display: block;
	clear: both;
	position: absolute;
	top: -5%;
	left: -60%;
	border: 1px solid rgba(0,0,0,0.05);
	width: 1000px;
	height: 1000px;
	border-radius: 50%;
}
.page2tltlebox{
	width: 600px;
	height: 180px;
	float: left;
}
.box2{
	margin-left: 130px;
}
.title1{
	color: red;
}
.title2{
	margin-right: 40px;
}
.page2tltlebox span{
	width: 90px;
	height: 160px;
	line-height: 160px;
	font-size: 70px;
	font-weight: 900;
	text-align: center;
	display: inline-block;
	float: left;
}
.page2tltlebox p:nth-child(2){
	display: block;
	font-size: 25px;
	font-weight: 900;
	margin-top: 40px;
}
.page2tltlebox p:nth-child(3){
	display: block;
	font-size: 14px;
	line-height: 1.5;
	margin-top: 20px;
}

#page3{
	width: 100%;
	height: 1300px;
	position: relative;
	overflow: hidden;
}
#page3::before{
	content: "Portfolio";
	display: block;
	clear: both;
	position: absolute;
	top: 20%;
	left: 0%;
	font-size: 400px;
	font-weight: 900;
	color:rgba(0,0,0,0.03);
	transform: rotate(350deg);
}
.page3pro{
	width: 1200px;
	height: 200px;
	position: relative;
	display: inline-block;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
.page3pro .html{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0%;
	left: 2%;
}
.page3pro .css{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0%;
	left: 30%;
}
.page3pro .js{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0%;
	left: 55%;
}
.page3pro .jq{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0%;
	left: 80%;
}
.page3pro img{
	width: 100%;
	height: 100%;
}
.page3pro .html::before{
	content: "HTML5";
	display: block;
	clear: both;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 1.5px;
}
.page3pro .css::before{
	content: "CSS3";
	display: block;
	clear: both;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 1.5px;
}
.page3pro .js::before{
	content: "JAVASCRIPT";
	display: block;
	clear: both;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 1.5px;
}
.page3pro .jq::before{
	content: "JQUERY";
	display: block;
	clear: both;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 1.5px;
}
.page3box{
	width: 1600px;
	height: 1200px;
	position: relative;
	margin: 400px auto;
}
.page3box::before{
	content: "클릭시 website로 이동합니다.";
	clear: both;
	display: block;
	position: absolute;
	top: -1%;
	left: 1%;
	z-index: 9;
	color: black;
}
.page3box::after{
	content: "Portfolio";
	display: block;
	clear: both;
	position: absolute;
	top: -7%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 2px;
}
.page3img{
	width: 500px;
	height: 400px;
	float: left;
	position: relative;
	margin: 15px;
	border: 1px solid rgba(0,0,0,0.6);
	opacity: 0;
}
.page3img img{
	width: 100%;
	height: 100%;
	display: block;
}
.matop{
	margin-top: 30px;
}
.page3hover{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.5s;
}
.page3img:hover .page3hover{
	opacity: 1;
}
.page3hover span:nth-child(1){
	width: 500px;
	height: 400px;
	display: inline-block;
	background: rgba(0,0,0,0.9);
	position: relative;
}
.page3hover .pagetitle1{
	display: block;
	color: #fff;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	font-weight: 600;
}
.page3hover .pagetitle2{
	width: 100%;
	height: auto;
	display: block;
	color: #fff;
	line-height: 2;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	text-align: center;
}
.page3hover .pagetitle3{
	width: 100%;
	height: auto;
	display: block;
	color: #fff;
	line-height: 2;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	text-align: center;
}
.page3hover .pagetitle4{
	width: 100%;
	height: auto;
	display: block;
	color: #fff;
	line-height: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	text-align: center;
}
.page3hover .pagetitle5{
	width: 100%;
	height: auto;
	display: block;
	color: #fff;
	line-height: 2;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	text-align: center;
}
#page4{
	clear: both;
	width: 100%;
	height: 150px;
	background: #eee;
	/*position: relative;*/
}
.footer{
	width: 100%;
	height: 100%;
}
.footerleft{
	width: 70%;
	height: 100%;
	float: left;
}
.footerleft span{
	display: block;
	line-height: 2;
	padding: 40px 0 0 120px;
	font-size: 13px;
}
.footerright{
	width: 30%;
	height: 100%;
	float: left;
}
.footerright img{
	vertical-align: middle;
}
.footerright a{
	display: inline-block;
	transition: 0.5s;
}
.footerright a:hover{
	color: #bbb;
	transform: scale(1.1);
}
.footerright span{
	width: 33.33%;
	height: 100%;
	display: inline-block;
	line-height: 130px;
	float: left;
	text-align: center;
}